body {
  background-color: rgba(231, 231, 231, 0.1);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
}

.headline {
  font-size: 48px;
  font-weight: 700;
  padding: 48px;
}

.navigation {
  margin-top: 24px;
}

.board {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
  background-color: #333;
  color: whitesmoke;
  font-size: 12px;
  border: 0px;
  border-radius: 16px;
  width: 96px;
  height: 32px;
  box-shadow: rgba(0, 0, 0, 0.36) 0px 2px 5px;
  margin: 8px;
  transition: 0.3s ease;
}

button:hover {
  background-color: hsl(0, 0%, 10%);
  transform: scale(1.1);
}

button:active {
  background-color: hsl(0, 0%, 50%);
}

.sizing {
  margin: 0px 24px;
  color:#333;
  font-size: 12px;
  font-weight: 200px;
  text-align: center;
  padding: 24px;
}

input {
  text-align: center;
  background-color: rgb(246, 246, 246);
  border: 0.5px solid #333;
  border-radius: 16px;
  width: 128px;
  height: 32px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 12px;
}

input:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}
.container {
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
}

.container, .navigation, .sizing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex-wrap: wrap-reverse;
}

.side {
width: 300px;
flex-shrink: 0;
}

.headline, .footnote {
  height: 200px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 360px;
  height: 360px;
  border: 0.5px solid grey;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.row {
  display: flex;
  flex: 1;
}

.square {
  background-color: white;
  border: 0.5px solid grey;
  margin: 0px;
  flex: 1;
}

.hover {
  background-color: #333;
}

.hide-grid {
  border: 0px;
}