body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
}

.headline {
  font-size: 48px;
  font-weight: 700;
  padding: 48px;
}

button {
  background-color: #333;
  color: whitesmoke;
  border: 0px;
  border-radius: 16px;
  width: 96px;
  height: 32px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 12px;
}

.sizing {
  color:#333;
  font-size: 12px;
  font-weight: 200px;
  text-align: center;
  padding: 24px;
}

input {
  text-align: center;
  background-color: rgb(246, 246, 246);
  border: 0.5px solid #333;
  border-radius: 16px;
  width: 96px;
  height: 32px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 12px;
}
.container {
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
}

.container, .navigation, .sizing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex-wrap: wrap-reverse;
}

.side {
width: 200px;
flex-shrink: 0;
}

.headline, .footnote {
  height: 200px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 360px;
  height: 360px;
  border: 0.5px solid grey;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.row {
  display: flex;
  flex: 1;
}

.square {
  background-color: white;
  border: 0.5px solid grey;
  margin: 0px;
  flex: 1;
}

.hover {
  background-color: #333;
}

.hide-grid {
  border: 0px;
}